<div class="parent p-4">
<h4 style="color: #ffffff">Service with our Client Partners</h4>
<div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title mb-0">Our partial customer for Instrumentational Erection:</h5>
      <p class="card-text" style="font-weight: 500; font-size: 16px">Arakmae Peroxide India Limited, Cuddalore, Asian PPG Industries Limited, Sroperumbudur, BGR Energy Systems, Chennai, Cabot Sanmar Limited, Mettur Dam, Daimia Cements(Bharat) Limited, Nellikuppam, FLS Automation India PRivate Limited, Chennai, Granules India Limited, Hyderabad, Hindustan Glass India Limited, Puducherry, Honeywell Autommation Private Limited, Pune, Invesys India Private Limited, Chennai, Kumar Organic Products Limited, Bangalore, Madras Cements Limited, Pennadam, Seshasayee Paper and Boards Limited, Erode, Tamilnadu NewPrint and Papers Limited, Karur, Vanavil Dyes and Chemicals Limited, Cuddalore</p>
    </div>
  </div>
<div class="row mb-2">
<div class="col-md-6">
    <img src="../../../assets/image/AUROMIN Company Profile (1)_page-0016.jpg" class="card-image" />
</div>
<div class="col-md-6">
    <img src="../../../assets/image/AUROMIN Company Profile (1)_page-0017.jpg" class="card-image" />
</div>
</div>
<div class="row mb-2">
    <div class="col-md-6">
        <img src="../../../assets/image/AUROMIN Company Profile (1)_page-0018.jpg" class="card-image" />
    </div>
    <div class="col-md-6">
        <img src="../../../assets/image/AUROMIN Company Profile (1)_page-0019.jpg" class="card-image" />
    </div>
    
    </div>
</div>
