<div class="parent">
    <div class="bg">
    </div>
    <div class="py-3">
        <h4 class="text-center text-sandal">Nature of service we provide, </h4>
        <div class="container">
            <div class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../../../../assets/image/card-instrumentation.jpg" class="card-image" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pl-4">Service we offer,</h5>
                      <ul>
                        <li>Erection, Testing, Calibration & Commissioning of instrumentation systems & Erection, Testing &
                            Commissioning of Electrical systems.</li>
                            <li>
                                Manufacturing and supply of Instrumentation Panels, Electrical Panels, System Cabinets, Marshalling
Panels, Consoles. Desks etc...
                            </li>
                            <li>
                                Testing and Commissioning Assistance.
                            </li>
                            <li>
                                Man power supply- like Engineers, Technicians, Fitters etc.,
                            </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../../../../assets/image/list-instrumentation.jpg" class="card-image" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title pl-4">We also undertake supply of the following items:,</h5>
                      <ul>
                        <li>JUNCTION BOX-Weather Proof/ IP-42, 55, 65, CABLE GLANDS, CABLE TRAYS, GI,  MS/PAINTED, FRP, SS</li>
                            <li> BRASS FITTINGS,
                                SS FITTINGS,
                                1/4”- 1 1⁄2” VALVES,
                                AIR HEADER,
                                AIR FILTER REGULATORS,
                                CATCH POT,
                                CONDENSATE POT (NON-IBR & IBR),
                                </li>
                                <li>
                                    SYPHON - (NON-IBR & IBR),
                                SS & COPPER TUBES,
                                PVC TUBES,
                                SENSORS / PROXIMITY SWITCHES
                                </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
        </div>
       
    </div>
</div>
