<div class="parent p-4">
    <div class="row pb-2">
        <div class="col-md-12">
            <img src="../../../assets/image/sub-banner.jpg" class="card-img" alt="" />
        </div>
    </div>
<div class="card p-3">
   
<p class="">
    We are pleased to introduce ourselves as Instrumentation and Electrical Engineers,
Contractors and Manufacturers of Instrumentation and Electrical Control Panels, Control Desks,
system cabinets, Junction Boxes, Cable trays, Bus Ducts Etc.
</p>

<p class="">
    The Promoter of this company has wide and rich experience in the field of Instrumentation
    and Electrical Erections and also in design and manufacturing of Instrumentation and Electrical
    Panels.
</p>
<p>
AUROMIN has successfully completed more than 15 YEARS of service in the field of
Instrumentation & Electrical executed major orders in many industries in Private, and Public Sector
under takings in the sectors of Power, Chemical, Pharmaceuticals, Sugar Plants, Paper Industries,
Cements, Solar Plant etc. 
</p>
<p>Also we wish to highlight here that we have carried out a lot of CO-Gen
Power Plants to THERMAX Instrumentation Ltd. A detailed customer list and records of projects
carried out by AUROMIN are enclosed for your reference
AUROMIN has the necessary infra-structure, well-experien
</p>
<p>ced Engineers, tools, machineries
    and skilled man powers, to follow and fulfil your technical requirements and deliver the goods in
    time. We adopt quality planning in our jobs and latest technical standards.</p>
    <p>
        We enclose herewith our company profile for your further records and reference. We kindly
        request you to register our firm for your requirements of,
    </p>

<p>1. Instrumentation & Electrical Erection Contract Works</p>
<p>2. Instrumentation Control Panels, PLC Panels, Control Desks, and Junction Boxes.</p>
<p>
    Please feel free to contact us if you require any clarifications in this regard. We earnestly look
    forward for your valuable enquiries.
</p>

<p>
    Thanking you and assuring you our best services always.

</p>

</div>
</div>
